extends layout

block content
  h1= title

  ul
    each cat in category_list
      li
        a(href=cat.url) #{cat.name}
        |  #{cat.description}

    else
      li There are no categories to display.

  a(href='/store/category/create')
    button.btn.btn-primary(type='button') Create new category