nav {
  position: relative;
  background-color: rgb(25, 165, 25);
  padding: 1rem;
  margin: -2rem -2rem 2rem -2rem;
}

#navtitle {
  position: absolute;
  left: 2rem;
  font-weight: 600;
}

nav a {
  color: white;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 2rem;
  background-color: rgb(200, 200, 200);
  color: rgb(41, 45, 49);
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

div.index-cards {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

div.index-cards .card:hover {
  background-color: rgb(25, 165, 25);
  transition: background-color 0.5s ease;
}

div.card {
  border-radius: 2rem;
}

div.card img {
  border-radius: 2rem 2rem 0 0;
}
